<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.qingyang.fastdeliver.dao.AddressMapper">

    <resultMap id="addressResultMap" type="com.qingyang.fastdeliver.entity.Address">
        <result column="address_id" property="addressId" />
        <result column="account_id" property="accountId" />
    </resultMap>

    <insert id="insertAddress">
        INSERT INTO address(address_id,account_id,address,name,phone)
        value(#{addressId},#{accountId},#{address},#{name},#{phone});
    </insert>

    <select id="findAddressById" resultMap="addressResultMap">
        select * from address where account_id=#{accountId};
    </select>

    <delete id="deleteAddress">
        DELETE FROM address WHERE address_id=#{addressId}&amp;&amp;account_id=#{accountId};
    </delete>

    <update id="updateAddress">
        UPDATE address
            SET address=#{address},name=#{name},phone=#{phone}
            WHERE address_id=#{addressId}&amp;&amp;account_id=#{accountId};
    </update>
</mapper>



